.projects{
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    background: url(./../../images/projects_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__inner{
        row-gap: 64px;
        padding-inline: 0;
    }
}