@use 'variables' as *;
@use './mixins' as *;

body {
  font-family: $font-main;
  font-size: $font-base-size;
  font-weight: 400;
  color: $color-white;

  background-color: $color-bg1;
}

.container{
  max-width: calc($container-width + $container-padding * 2);
  @include fluid(padding-inline, 30, 128, 1200, 1600);
  margin-inline: auto;
}

.text-accent{
  color: $color-accent-sub;
}

.inner{
    display: flex;
    flex-direction: column;
    padding: clamp(32px, 3.33vw, 128px);
}

.button{
  display: flex;
  width: fit-content;
  flex: 1;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  column-gap: 16px;

  &__svg{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  &--download{
    padding: 16px 32px;

    background-color: #fff;
    border-radius: 32px;

    color: #292F36;
    font-size: 20px;
  }

  &--message{
    margin-left: 16px;

    font-family: $font-main;
    font-weight: 500;
    font-size: 32px;
    color: $color-accent-sub;

    &__wrap{
      padding: 8px;
      background-color: $color-grey;
      border-radius: 40px;
    }
  }

}

.tag{
  font-family: $font-main;
  font-size: 14px;
  color: $color-accent-main;
}

.title{
  display: inline-block;

  position: relative;
  padding: 16px 0;
  margin: 0 auto;

  font-family: $font-sub;
  @include fluid(font-size, 32, 64, 390, 768);
  font-weight: 400;
  color: $color-accent-main;

  &::after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      height: 4px;
      width: 100%;

      background-color: $color-accent-main;
  }
}

.heading{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;

    row-gap: 16px;

  &__title{
    position: relative;
    align-self: center; 

    font-family: $font-sub;
    color: $color-accent-sub;
    font-weight: 400;
    font-size: 64px;

    &::after{
      content: "";
      position: absolute;

      height: 2px;
      width: 100%;

      left: 0;
      right: 0;
      bottom: -8px;

      background-color: $color-accent-sub;
    }
  }
}

.color--python{
  background-color: $color--python;
}

.color--html{
  background-color: $color--html;
}

.color--css{
  background-color: $color--css;
}

.color--js{
  background-color: $color--js;
}

.color--react{
  background-color: $color--react;
}

.color--postgres{
  background-color: $color--postgres;
}