$font-main: "IBM Plex Mono", monospace;
$font-sub: "Ubuntu", sans-serif;

$font-base-size: 16px;

$container-width: 1664px;
$container-padding: 128px;

$header-height: 170px;

$color-bg1: #292f36;
$color-bg2: #1a1e23;

$color-white: #ffffff;
$color-accent-main: #98faec;
$color-accent-sub: #12f7d6;
$color-grey: #43454d;

$color--python: #3773a3;
$color--html: #e54f26;
$color--css: #0c73b8;
$color--js: #e7a020;
$color--react: #28a9e0;
$color--postgres: #e7a020;
