$font-main: "IBM Plex Mono", monospace;
$font-sub: "Ubuntu", sans-serif;

$font-base-size: 16px;

$container-width: 1664px;
$container-padding: 128px;

$header-height: 170px;

$color-bg1: #292F36;
$color-bg2: #1A1E23;

$color-white: #ffffff;
$color-accent-main: #98FAEC;
$color-accent-sub: #12F7D6;
$color-grey: #43454D;

$color--python: #3773a3;
$color--html: #E54F26;
$color--css: #0C73B8;
$color--js: #E7A020;
$color--react: #28A9E0;
$color--postgres:#E7A020;
