<section class="feedback" id="feedback">
  <div class="container">
    <div class="feedback__inner inner">
      <header class="feedback__header">
        @@include("./scroll.html")
        <div class="heading">
          <h2 class="heading__title _anim-item _anim-show">Контакты</h2>
          <p class="heading__subtitle _anim-item _anim-show">
            Если у вас есть проект или идея — буду рад обсудить
          </p>
        </div>
      </header>
      <div class="feedback__content">
        <h3 class="feedback__title">Напишите мне сообщение</h3>
        <form class="feedback__form form" action="/" method="post">
          <div class="form__row">
            <div class="form__field">
              <label class="form__label" for="userName">Ваше имя*</label>
              <input
                class="form__input"
                id="userName"
                name="name"
                type="text"
                placeholder="Введите ваше имя"
                minlength="3"
                required
              />
            </div>
            <div class="form__field">
              <label class="form__label" for="userEmail">Ваш email*</label>
              <input
                class="form__input"
                id="userEmail"
                name="email"
                type="email"
                placeholder="Введите ваш email"
                required
              />
            </div>
          </div>
          <div class="form__field">
            <label class="form__label" for="userMessage">Ваше сообщение*</label>
            <textarea
              class="form__input"
              id="userMessage"
              name="message"
              placeholder="Введите ваше сообщение"
              required
            ></textarea>
          </div>
          <button class="form__btn" type="submit">
            Отправить
            <svg class="form__svg" width="22" height="22">
              <use href="./images/sprite.svg#shape"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
