<header class="header">
    <div class="container">
        <div class="header__inner inner">
            <a class="logo" href="/">
                <span class="logo__accent">&lt;C/&gt;</span>
                <span class="logo__text">Sergey</span>
            </a>
            <nav class="social-links" aria-label="Contacts">
                <a href="https://t.me/miron29web" class="social-links__item" aria-label="link contacts">
                    <svg width="24" height="24" class="social-links__svg">
                        <use href="./images/sprite.svg#telegram"></use>
                    </svg>
                    <span class="social-links__text">Telegram</span>
                </a>
                <a href="mailto:miron29.web@gmail.com" class="social-links__item">
                    <svg width="24" height="24" class="social-links__svg">
                        <use href="./images/sprite.svg#mail"></use>
                    </svg>
                    <span class="social-links__text">Mail</span>
                </a>
                <a href="https://github.com/miron29-web/" class="social-links__item" aria-label="link contacts" target="_blank">
                    <svg width="24" height="24"class="social-links__svg">
                        <use href="./images/sprite.svg#github"></use>
                    </svg>
                    <span class="social-links__text">Github</span>
                </a>
            </nav>
        </div>
    </div>
</header>