<section class="projects">
    <div class="container">
        <div class="projects__inner inner">
            <header class="projects__header">
                @@include("./scroll.html")
                <div class="heading" >
                    <h2 class="heading__title">Проекты</h2>
                    <p class="heading__subtitle">
                        Несколько проектов, над которыми мне было интересно работать.
                    </p>
                </div>
            </header>
            @@include("projects_slider.html")
        </div>
    </div>
</section>