<section class="skills">
    <div class="container">
        <div class="skills__inner inner">
            <header class="skills__header">
                @@include("./scroll.html")
                <span class="skills__caption">
                    &lt;/&gt;
                </span>
                <div class="heading">
                    <h2 class="heading__title">
                        Skills
                    </h2>
                    <p class="heading__subtitle">
                        Постоянно развиваюсь, изучаю новые технологии и совершенствую свои навыки в веб-разработке.
                    </p>
                </div>
            </header>
            <div class="skills__content">
                <ul class="skills__list">
                    <li class="skills__item">
                        <div class="skills__icon color--python">
                            <svg class="skills__svg" width="64" height="64">
                                <use href="./images/sprite.svg#python"></use>
                            </svg>
                        </div>
                        <span class="skills__skill">
                            Python
                        </span>
                    </li>
                    <li class="skills__item">
                        <div class="skills__icon color--html">
                            <svg class="skills__svg" width="64" height="64">
                                <use href="./images/sprite.svg#html5"></use>
                            </svg>
                        </div>
                        <span class="skills__skill">
                            HTML5
                        </span>
                    </li>
                    <li class="skills__item">
                        <div class="skills__icon color--css">
                            <svg class="skills__svg" width="64" height="64">
                                <use href="./images/sprite.svg#css3"></use>
                            </svg>
                        </div>
                        <span class="skills__skill">
                            CSS3
                        </span>
                    </li>
                    <li class="skills__item">
                        <div class="skills__icon color--js">
                            <svg class="skills__svg" width="64" height="64">
                                <use href="./images/sprite.svg#js"></use>
                            </svg>
                        </div>
                        <span class="skills__skill">
                            JS
                        </span>
                    </li>
                    <li class="skills__item">
                        <div class="skills__icon color--react">
                            <svg class="skills__svg" width="64" height="64">
                                <use href="./images/sprite.svg#react"></use>
                            </svg>
                        </div>
                        <span class="skills__skill">
                            React
                        </span>
                    </li>
                    <li class="skills__item">
                        <div class="skills__icon color--postgres">
                            <svg class="skills__svg" width="64" height="64">
                                <use href="./images/sprite.svg#sql"></use>
                            </svg>
                        </div>
                        <span class="skills__skill">
                            Postgres
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>