<section class="projects" id="projects">
  <div class="container">
    <div class="projects__inner inner">
      <header class="projects__header">
        <div class="scroll">
  <div class="scroll__mouse"></div>
  <div class="scroll__line">
    <div class="scroll__diamond"></div>
  </div>
</div>

        <div class="heading _anim-item">
          <h2 class="heading__title _anim-show">Проекты</h2>
          <p class="heading__subtitle _anim-show">
            Несколько проектов, над которыми мне было интересно работать.
          </p>
        </div>
      </header>
      <div class="slider">
  <button class="slider__btn slider__btn--prev"></button>
  <div class="slider__wrap">
    <div class="slider__track">
      <a class="slider__slide" href="https://miron29-web.github.io/fasttools/" target="_blank">
        <img class="slider__img" src="./images/slides/slide_1.png" alt="project website" />
      </a>
      <a class="slider__slide" href="https://miron29-web.github.io/fasttools/" target="_blank">
        <img class="slider__img" src="./images/slides/slide_2.png" alt="project website" />
      </a>
      <a class="slider__slide" href="https://miron29-web.github.io/fasttools/" target="_blank">
        <img class="slider__img" src="./images/slides/slide_3.png" alt="project website" />
      </a>
    </div>
  </div>
  <button class="slider__btn slider__btn--next"></button>
</div>

    </div>
  </div>
</section>
