<div class="slider">
    <button class="slider__btn slider__btn--prev"></button>  
    <div class="slider__wrap">
        <div class="slider__track">
            <a class="slider__slide" href="https://miron29-web.github.io/fasttools/" target="_blank">
                <img class="slider__img" src="../images/slide_1.png" alt="project website">
            </a>
            <a class="slider__slide" href="https://miron29-web.github.io/fasttools/" target="_blank">
                <img class="slider__img" src="../images/slides/slide_2.png" alt="project website">
            </a>
            <a class="slider__slide" href="https://miron29-web.github.io/fasttools/" target="_blank">
                <img class="slider__img" src="../images/slides/slide_3.png" alt="project website">
            </a>
        </div>
    </div>
    <button class="slider__btn slider__btn--next"></button>  
</div>